:root{
    --primary-color: #ffc107;
    --secondary-color: #8DC63F;
}
.btn-outline-warning{
    color: var(--primary-color);
    border-width: 2px;
}

.btn-outline-warning:hover{
    color: white;
    background-color: var(--primary-color);
}
.btn-outline-warning:active{
    color: var(--secondary-color);
}



